* {
    font-family: 'Italiana', sans-serif;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #181818;
    overflow-x: hidden;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

::-webkit-scrollbar {display: none}

/* ================================================= */
/* ==================== Top bar ==================== */
/* ================================================= */
#top-bar {
    overflow: hidden;
    height: 6%;
    width: 100%;
    display: flex;
    position: fixed;
    padding: 5px 25px;
    background-color: #0a0a0a;
    z-index: 2;
    top: 0;
}

#brand-name {
    float: left;
    text-transform: uppercase;
    text-decoration: none;
    align-self: center;
    font-weight: 300;
    padding: 0px 25px;
}

#openNav {
    font-size: 30px;
    cursor: pointer;
    align-self: center;
    padding: 0;
    margin: 0;
}

#logo-top {
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    position: absolute;
    height: 70%;
}

/* ================================================= */
/* ================= Side nav menu ================= */
/* ================================================= */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #131313;
    overflow: hidden;
    display: flex;
    z-index: 99;
}

/* ================= Menu sections ================= */
#side-left {
    height: 100%;
    width: 8.25vmax;
    background-color: #181818;
    padding: 1.25vmax 0;
    position: relative;
}
#side-left img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0%, 25%);
    width: 80%;
}

#side-mid {
    height: 100%;
    width: 16.75vmax;
    background-color: #141414;
    position: relative;
}
#side-mid p {
    padding: 0 .5vmax;
    margin: 2.5vmax 1.5vmax;
    font-size: 1.5vmax;
    color: #969696;
    display: block;
}
#side-mid a {
    padding: 0 .5vmax;
    margin: 1.5vmax 1.5vmax;
    text-decoration: none;
    font-size: 1.25vmax;
    color: #969696;
    display: block;
    transition: .1s ease;
}
#side-mid a:hover {color: white;}
#side-mid .active {
    border-style: hidden hidden hidden solid;
    color: white;
}

#side-right {
    height: 100%;
    width: 75vmax;
    position: relative;
}

/* ==================== Buttons ==================== */
.spin {
    background-color: transparent;
    border: solid white;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2vh;
    text-align: center;
    width: 2.5vw;
    height: 2.5vw;
    position: relative;
    left: 50%;
    top: 5.5vh;
    transform: translate(-50%, 0%);
}

.spin:hover{
    animation-name: load;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes load {
    0% {border-style: solid; border-color: white;}
    25% {border-style: solid; border-color: white white #da373e white;}
    50% {border-style: solid; border-color: white #da373e #da373e #da373e;}
    100% {border-style: solid; border-color: #da373e;}
}

/* ==================== Socials ==================== */
#socials-box {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5%;
    flex-direction: column;
    width: 100%;
}

#socials-box .social-row {
    width: 100%;
    padding: 10% 0;
    text-align: center;
}

.social-row a {
    padding: 0 10%;
    opacity: .2;
    transition: .2s ease;
}

.social-row a:hover {opacity: .7;}

/* ================================================= */
/* ================= Main content ================== */
/* ================================================= */
#content {
    margin-top: 7vh;
    padding: 0;
}


/* ================================================= */
/* ==================== Loader ===================== */
/* ================================================= */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 10%;
    transform: translate(-50%,-50%);
    animation: breathe 1.5s linear infinite;
}
  
@keyframes breathe {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
  
.web {
    position: relative;
    animation-name: appear;
    animation-duration: 3s;
    animation-timing-function: ease;
}
  
@keyframes appear { 
    from{opacity:0} 
    to{opacity:1}
}
  
#web-page {display: none;}
